fastapi==0.100.0
uvicorn[standard]
PyJWT
pydantic
pydantic-settings
requests
python-multipart
rich
llama_index==0.9.13
langchain_core==0.1.6
pymongo==4.6.1
pytz==2023.2
langchain_community==0.0.8
langchain==0.0.354
jinja2
pymupdf
torch
sentence_transformers
python-jose
supertokens-python==0.30.2
sniffio==1.3.0