@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./apps/DemoApp/styles/scrollbar.css";
html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #09090b;
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}